[Unit]
Description=Telegram Monitoring Userbot
After=network.target
Wants=network.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=%DIR%
EnvironmentFile=%DIR%/.env
ExecStart=%DIR%/.venv/bin/python logger_userbot.py
Restart=on-failure
RestartSec=10
StandardOutput=append:%DIR%/logs/userbot.log
StandardError=append:%DIR%/logs/userbot.log

[Install]
WantedBy=multi-user.target
